gurobipy==12.0.0
numpy==1.26.4
pandas==2.2.2
pyarrow==14.0.2
fastparquet==2024.11.0
optuna==3.3.0
matplotlib==3.8.1
'''
Note: the currently used versions of the libraries are compatible with the 
cluster environment. These are the previously listed ones:
numpy==2.4.2
pandas==3.0.0
pyarrow==23.0.0
fastparquet==2025.12.0
'''

